#Create a profiling variable based on age, income, certain goods in the “department_id” column, and number of dependents

In [1]:
#0.1 importing Labraries
import pandas as pd
import numpy as pn 
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [2]:
#Normal_activity_customer
Normal_activity_customer = pd.read_pickle(os.path.join('C:\\Users\\bukola\\Desktop\\Lanre Comp\\Documents\\CF\Instacart Basket Analysis\\02 Data','Normal_activity_customer.pkl'))

In [3]:
Normal_activity_customer.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,order_frequency_flag,gender,state,age,date_joined,num_of_dependants,family_status,income,region,exclusion_flag
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South,Normal_activity_customer
5,3367565,1,6,2,7,19.0,196,1,1,Soda,...,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South,Normal_activity_customer
6,550135,1,7,1,9,20.0,196,1,1,Soda,...,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South,Normal_activity_customer
7,3108588,1,8,1,14,14.0,196,2,1,Soda,...,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South,Normal_activity_customer
8,2295261,1,9,1,16,0.0,196,4,1,Soda,...,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South,Normal_activity_customer

In [4]:
#Profilling age
Normal_activity_customer['age'].describe()

count    2.441572e+07
mean     4.945730e+01
std      1.848531e+01
min      1.800000e+01
25%      3.300000e+01
50%      4.900000e+01
75%      6.500000e+01
max      8.100000e+01
Name: age, dtype: float64

In [5]:
Normal_activity_customer.groupby('orders_day_of_week').agg({'age': ['mean', 'min', 'max']})

                          age
                         mean min max
orders_day_of_week
0                   49.439330  18  81
1                   49.336790  18  81
2                   49.478848  18  81
3                   49.556048  18  81
4                   49.406627  18  81
5                   49.444513  18  81
6                   49.585636  18  81

In [6]:
# creating Age_Groups (old adult)
Normal_activity_customer.loc[Normal_activity_customer['age'] > 65, 'age_group'] = 'old adult'

In [7]:
# creating Age_Groups (middle Adult)
Normal_activity_customer.loc[(Normal_activity_customer['age'] <= 65) & (Normal_activity_customer['age'] > 39), 'age_group'] = 'Middle adult'

In [8]:
# creating Age_Groups (Young adult)
Normal_activity_customer.loc[Normal_activity_customer['age'] <= 39, 'age_group'] = 'young adult'

In [9]:
Normal_activity_customer['age_group'].value_counts(dropna = False)

age_group
Middle adult    9904058
young adult     8419266
old adult       6092397
Name: count, dtype: int64

In [10]:
# Income profilling 
Normal_activity_customer['income'].describe()

count    2.441572e+07
mean     9.989493e+04
std      4.333337e+04
min      2.590300e+04
25%      6.752200e+04
50%      9.683600e+04
75%      1.281600e+05
max      5.939010e+05
Name: income, dtype: float64

In [11]:
# income aggregate 
Normal_activity_customer.groupby('orders_day_of_week').agg({'income': ['mean', 'min', 'max']})

                           income
                             mean    min     max
orders_day_of_week
0                   101230.163329  25941  593901
1                    98607.035987  25937  593901
2                    99167.073446  25903  593901
3                    99599.889364  25937  593901
4                    99661.950958  25903  593901
5                    99304.099827  25941  593901
6                   101417.629097  25903  592409

In [12]:
# income_distribution
Normal_activity_customer.loc[Normal_activity_customer['income'] > 128160, 'income_distribution'] = 'high income'
Normal_activity_customer.loc[(Normal_activity_customer['income'] <=128160) & (Normal_activity_customer['income'] > 67522), 'income_distribution'] = 'Middle income'
Normal_activity_customer.loc[Normal_activity_customer['income'] <= 67522, 'income_distribution'] = 'low income'

In [13]:
Normal_activity_customer['income_distribution'].value_counts(dropna = False)

income_distribution
Middle income    12208041
low income        6103954
high income       6103726
Name: count, dtype: int64

In [14]:
# depedant profilling 
Normal_activity_customer['num_of_dependants'].describe()

count    2.441572e+07
mean     1.501997e+00
std      1.119172e+00
min      0.000000e+00
25%      0.000000e+00
50%      2.000000e+00
75%      3.000000e+00
max      3.000000e+00
Name: num_of_dependants, dtype: float64

In [15]:
Normal_activity_customer.groupby('family_status').agg({'num_of_dependants': ['mean', 'min', 'max']})

                                 num_of_dependants
                                              mean min max
family_status
divorced/widowed                          0.000000   0   0
living with parents and siblings          1.985641   1   3
married                                   2.003981   1   3
single                                    0.000000   0   0

In [16]:
# creating dependant Flag 
Normal_activity_customer.loc[Normal_activity_customer['num_of_dependants'] > 0, 'dependant_flag'] = 'has dependant'
Normal_activity_customer.loc[Normal_activity_customer['num_of_dependants'] <= 0, 'dependant_flag'] = 'no dependant'

In [17]:
Normal_activity_customer['dependant_flag'].value_counts(dropna = False)

dependant_flag
has dependant    18310464
no dependant      6105257
Name: count, dtype: int64

In [18]:
# creating Family profile 
Normal_activity_customer.loc[(Normal_activity_customer['family_status'].isin(['single','living with parents and siblings','divorced/widowed'])) & (Normal_activity_customer['dependant_flag'] == 'has dependant') & (Normal_activity_customer['gender'] == 'Male'), 'family_profile'] = 'single male has children'
Normal_activity_customer.loc[(Normal_activity_customer['family_status'].isin(['single','living with parents and siblings','divorced/widowed'])) & (Normal_activity_customer['dependant_flag'] == 'has dependant') & (Normal_activity_customer['gender'] == 'Female'), 'family_profile'] = 'single female has children'
Normal_activity_customer.loc[(Normal_activity_customer['family_status'].isin(['single','living with parents and siblings','divorced/widowed'])) & (Normal_activity_customer['dependant_flag'] == 'no dependant') & (Normal_activity_customer['gender'] == 'Male'), 'family_profile'] = 'single male no children'
Normal_activity_customer.loc[(Normal_activity_customer['family_status'].isin(['single','living with parents and siblings','divorced/widowed'])) & (Normal_activity_customer['dependant_flag'] == 'no dependant') & (Normal_activity_customer['gender'] == 'Female'), 'family_profile'] = 'single female no children'
Normal_activity_customer.loc[(Normal_activity_customer['family_status'] == 'married') & (Normal_activity_customer['dependant_flag'] == 'has dependant') & (Normal_activity_customer['gender'] == 'Male'), 'family_profile'] = 'married male with children'
Normal_activity_customer.loc[(Normal_activity_customer['family_status'] == 'married') & (Normal_activity_customer['dependant_flag'] == 'no dependant') & (Normal_activity_customer['gender'] == 'Male'), 'family_profile'] = 'married male no children'
Normal_activity_customer.loc[(Normal_activity_customer['family_status'] == 'married') & (Normal_activity_customer['dependant_flag'] == 'has dependant') & (Normal_activity_customer['gender'] == 'Female'), 'family_profile'] = 'married female with children'
Normal_activity_customer.loc[(Normal_activity_customer['family_status'] == 'married') & (Normal_activity_customer['dependant_flag'] == 'no dependant') & (Normal_activity_customer['gender'] == 'Female'), 'family_profile'] = 'married female no children'

In [19]:
Normal_activity_customer['family_profile'].value_counts(dropna = False)

family_profile
married male with children      8630773
married female with children    8508261
single male no children         3057190
single female no children       3048067
single male has children         599740
single female has children       571690
Name: count, dtype: int64

In [20]:
df_dept = pd.read_csv(os.path.join('C:\\Users\\bukola\\Desktop\\Lanre Comp\\Documents\\CF\\Instacart Basket Analysis', '02 Data' , 'departments.csv'), index_col = False)

In [21]:
# transposing df_dep
df_dept.T

                             0
department_id       department
1                       frozen
2                        other
3                       bakery
4                      produce
5                      alcohol
6                international
7                    beverages
8                         pets
9              dry goods pasta
10                        bulk
11               personal care
12                meat seafood
13                      pantry
14                   breakfast
15                canned goods
16                  dairy eggs
17                   household
18                      babies
19                      snacks
20                        deli
21                     missing

In [22]:
# renaming the transose
df_dep_t = df_dept.T

In [23]:
new_header = df_dep_t.iloc[0]

In [24]:
df_dep_t_new = df_dep_t[1:]

In [25]:
#set the hearder row as df header
df_dep_t_new.columns = new_header

In [26]:
df_dep_t_new.head()

department_id department
1                 frozen
2                  other
3                 bakery
4                produce
5                alcohol

In [27]:
Normal_activity_customer.to_pickle(os.path.join('C:\\Users\\bukola\\Desktop\\Lanre Comp\\Documents\\CF\\Instacart Basket Analysis', '02 Data' , 'Normal_activity_customer_final.pkl'))

In [28]:
#Creating a data dictionary of 'department_id' to facilitate profiling of clients
data_dict = df_dep_t_new.to_dict('index')

In [29]:
data_dict

{'1': {'department': 'frozen'},
 '2': {'department': 'other'},
 '3': {'department': 'bakery'},
 '4': {'department': 'produce'},
 '5': {'department': 'alcohol'},
 '6': {'department': 'international'},
 '7': {'department': 'beverages'},
 '8': {'department': 'pets'},
 '9': {'department': 'dry goods pasta'},
 '10': {'department': 'bulk'},
 '11': {'department': 'personal care'},
 '12': {'department': 'meat seafood'},
 '13': {'department': 'pantry'},
 '14': {'department': 'breakfast'},
 '15': {'department': 'canned goods'},
 '16': {'department': 'dairy eggs'},
 '17': {'department': 'household'},
 '18': {'department': 'babies'},
 '19': {'department': 'snacks'},
 '20': {'department': 'deli'},
 '21': {'department': 'missing'}}

In [30]:
#Creating a new column/variable department
Normal_activity_customer.loc[Normal_activity_customer['department_id'] == 1, 'department'] = 'frozen'
Normal_activity_customer.loc[Normal_activity_customer['department_id'] == 2, 'department'] = 'other'
Normal_activity_customer.loc[Normal_activity_customer['department_id'] == 3, 'department'] = 'bakery'
Normal_activity_customer.loc[Normal_activity_customer['department_id'] == 4, 'department'] = 'produce'
Normal_activity_customer.loc[Normal_activity_customer['department_id'] == 5, 'department'] = 'alcohol'
Normal_activity_customer.loc[Normal_activity_customer['department_id'] == 6, 'department'] = 'international'
Normal_activity_customer.loc[Normal_activity_customer['department_id'] == 7, 'department'] = 'beverages'
Normal_activity_customer.loc[Normal_activity_customer['department_id'] == 8, 'department'] = 'pets'
Normal_activity_customer.loc[Normal_activity_customer['department_id'] == 9, 'department'] = 'dry goods pasta'
Normal_activity_customer.loc[Normal_activity_customer['department_id'] == 10, 'department'] = 'bulk'
Normal_activity_customer.loc[Normal_activity_customer['department_id'] == 11, 'department'] = 'personal care'
Normal_activity_customer.loc[Normal_activity_customer['department_id'] == 12, 'department'] = 'meat seafood'
Normal_activity_customer.loc[Normal_activity_customer['department_id'] == 13, 'department'] = 'pantry'
Normal_activity_customer.loc[Normal_activity_customer['department_id'] == 14, 'department'] = 'breakfast'
Normal_activity_customer.loc[Normal_activity_customer['department_id'] == 15, 'department'] = 'canned goods'
Normal_activity_customer.loc[Normal_activity_customer['department_id'] == 16, 'department'] = 'dairy eggs'
Normal_activity_customer.loc[Normal_activity_customer['department_id'] == 17, 'department'] = 'household'
Normal_activity_customer.loc[Normal_activity_customer['department_id'] == 18, 'department'] = 'babies'
Normal_activity_customer.loc[Normal_activity_customer['department_id'] == 19, 'department'] = 'snacks'
Normal_activity_customer.loc[Normal_activity_customer['department_id'] == 20, 'department'] = 'deli'
Normal_activity_customer.loc[Normal_activity_customer['department_id'] == 21, 'department'] = 'missing'

In [33]:
Normal_activity_customer.shape

(24415721, 38)

In [34]:
Normal_activity_customer.info()

<class 'pandas.core.frame.DataFrame'>
Index: 24415721 entries, 4 to 32406036
Data columns (total 38 columns):
 #   Column                         Dtype
---  ------                         -----
 0   order_id                       int64
 1   user_id                        int64
 2   order_number                   int64
 3   orders_day_of_week             int64
 4   order_hour_of_day              int64
 5   days_since_prior_order         float64
 6   product_id                     int64
 7   add_to_cart_order              int64
 8   reordered                      int64
 9   product_name                   object
 10  aisle_id                       int64
 11  department_id                  int64
 12  prices                         float64
 13  _merge                         category
 14  price_range_loc                object
 15  Busiest day                    object
 16  Busiest days                   object
 17  busiest_period_of_day          object
 18  max_order                      int64
 19  loyalty_flag                   object
 20  mean_prices                    float64
 21  Spender_flag                   object
 22  median_days_since_prior_order  float64
 23  order_frequency_flag           object
 24  gender                         object
 25  state                          object
 26  age                            int64
 27  date_joined                    object
 28  num_of_dependants              int64
 29  family_status                  object
 30  income                         int64
 31  region                         object
 32  exclusion_flag                 object
 33  age_group                      object
 34  income_distribution            object
 35  dependant_flag                 object
 36  family_profile                 object
 37  department                     object
dtypes: category(1), float64(4), int64(14), object(19)
memory usage: 6.9+ GB

In [35]:
Normal_activity_customer.to_pickle(os.path.join('C:\\Users\\bukola\\Desktop\\Lanre Comp\\Documents\\CF\\Instacart Basket Analysis', '02 Data' , 'Normal_customer_final.pkl'))