In [1]:
#0.1 importing Labraries
import pandas as pd
import numpy as pn 
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [2]:
#impoting ords_prods_customer
ords_prods_custom_merged=pd.read_pickle(os.path.join('C:\\Users\\bukola\\Desktop\\Lanre Comp\\Documents\\CF\Instacart Basket Analysis\\02 Data','ords_prods_customer.pkl'))

In [3]:
ords_prods_custom_merged.shape

(32406041, 33)

In [4]:
#The PII data in the data set is the individual first name and surname. I will need to remove it in the new data set as it does not affect any of the outcome of the data
ords_prods_custom_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32406041 entries, 0 to 32406040
Data columns (total 33 columns):
 #   Column                         Dtype
---  ------                         -----
 0   order_id                       int64
 1   user_id                        int64
 2   order_number                   int64
 3   orders_day_of_week             int64
 4   order_hour_of_day              int64
 5   days_since_prior_order         float64
 6   product_id                     int64
 7   add_to_cart_order              int64
 8   reordered                      int64
 9   product_name                   object
 10  aisle_id                       int64
 11  department_id                  int64
 12  prices                         float64
 13  _merge                         category
 14  price_range_loc                object
 15  Busiest day                    object
 16  Busiest days                   object
 17  busiest_period_of_day          object
 18  max_order                      int64
 19  loyalty_flag                   object
 20  mean_prices                    float64
 21  Spender_flag                   object
 22  median_days_since_prior_order  float64
 23  order_frequency_flag           object
 24  first_name                     object
 25  Sur_name                       object
 26  gender                         object
 27  state                          object
 28  age                            int64
 29  date_joined                    object
 30  num_of_dependants              int64
 31  family_status                  object
 32  income                         int64
dtypes: category(1), float64(4), int64(14), object(14)
memory usage: 7.8+ GB

removing first name and sur_name from data set due to security implication PII

In [5]:
ords_prods_custom = ords_prods_custom_merged.drop(columns = ['first_name','Sur_name'])

In [6]:
ords_prods_custom.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,Spender_flag,median_days_since_prior_order,order_frequency_flag,gender,state,age,date_joined,num_of_dependants,family_status,income
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,Low spender,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,Low spender,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,Low spender,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,Low spender,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,Low spender,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423

In [7]:
#regional segmentation of the state
Northeast =['Maine', 'New Hampshire', 'Vermont', 'Massachusetts', 'Rhode Island', 'Connecticut', 'New York', 'Pennsylvania', 'New Jersey']
Midwest = ['Wisconsin', 'Michigan','Illinois', 'Indiana', 'Ohio', 'North Dakota', 'South Dakota', 'Nebraska', 'Kansas', 'Minnesota', 'Iowa', 'Missouri']
South = ['Delaware', 'Maryland', 'District of Columbia', 'Virginia', 'West Virginia', 'North Carolina', 'South Carolina', 'Georgia', 'Florida', 'Kentucky', 'Tennessee', 'Mississippi', 'Alabama', 'Oklahoma', 'Texas', 'Arkansas', 'Louisiana']
West = ['Idaho', 'Montana', 'Wyoming', 'Nevada', 'Utah', 'Colorado', 'Arizona', 'New Mexico', 'Alaska', 'Washington', 'Oregon', 'California', 'Hawaii']

In [8]:
#region 1 = Northeast
ords_prods_custom.loc[ords_prods_custom['state'] .isin(Northeast), 'region'] = 'Northeast'

In [9]:
#region 2 = Midwest
ords_prods_custom.loc[ords_prods_custom['state'] .isin(Midwest), 'region'] = 'Midwest'

In [10]:
#region 3 = South
ords_prods_custom.loc[ords_prods_custom['state'] .isin(South), 'region'] = 'South'

In [11]:
##region 3 = West
ords_prods_custom.loc[ords_prods_custom['state'] .isin(West), 'region'] = 'West'

In [12]:
ords_prods_custom.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,median_days_since_prior_order,order_frequency_flag,gender,state,age,date_joined,num_of_dependants,family_status,income,region
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South

In [13]:
#region count 
ords_prods_custom['region'].value_counts(dropna=False)

region
South        10792300
West          8293217
Midwest       7597585
Northeast     5722939
Name: count, dtype: int64

In [14]:
# spending habits between the different U.S. regions
crosstab = pd.crosstab(ords_prods_custom['Spender_flag'], ords_prods_custom['region'], dropna = False)

In [15]:
crosstab.head()

region          Midwest  Northeast     South     West
Spender_flag
Higher spender   155979     108226    209693   160354
Low spender     7441606    5614713  10582607  8132863

#The count spending habit is in the following proportion for high and low spender in the region Midwest 23%, north-west 18%, south 33% and west 26%. 98% of the count constitute low-spender while 2% are of high-spender across all regions. This shows that there is no difference in their spending manner

In [44]:
# Create an exclusion flag
ords_prods_custom.loc[ords_prods_custom['order_number'] < 5, 'exclusion_flag'] = 'low_activity_customer'
ords_prods_custom.loc[ords_prods_custom['order_number'] >= 5, 'exclusion_flag'] = 'Normal_activity_customer'

In [45]:
ords_prods_custom.shape

(32406041, 33)

In [47]:
Normal_activity_customer =  ords_prods_custom[ords_prods_custom['exclusion_flag'] =='Normal_activity_customer']

In [48]:
Normal_activity_customer.shape

(24415721, 33)

In [49]:
#low_activity_customer
low_activity_customer =  ords_prods_custom[ords_prods_custom['exclusion_flag'] =='low_activity_customer']

In [50]:
low_activity_customer.shape

(7990320, 33)

In [53]:
low_activity_customer.to_pickle(os.path.join('C:\\Users\\bukola\\Desktop\\Lanre Comp\\Documents\\CF\Instacart Basket Analysis\\02 Data','low_activity_customer.pkl'))

In [54]:
Normal_activity_customer.to_pickle(os.path.join('C:\\Users\\bukola\\Desktop\\Lanre Comp\\Documents\\CF\Instacart Basket Analysis\\02 Data','Normal_activity_customer.pkl'))